---
http_interactions:
- request:
    method: get
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline//07410/2024-12-02/2024-12-03?key=VMVGJSENXDBK8VPNBERCDX3XQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"queryCost":48,"latitude":40.933943,"longitude":-74.11671,"resolvedAddress":"07410,
        USA","address":"07410","timezone":"America/New_York","tzoffset":-5.0,"days":[{"datetime":"2024-12-02","datetimeEpoch":1733115600,"tempmax":38.6,"tempmin":24.2,"temp":31.2,"feelslikemax":32.2,"feelslikemin":19.5,"feelslike":26.3,"dew":16.7,"humidity":55.2,"precip":0.0,"precipprob":0.0,"precipcover":0.0,"preciptype":null,"snow":0.0,"snowdepth":0.0,"windgust":20.8,"windspeed":12.3,"winddir":305.5,"pressure":1020.8,"cloudcover":18.5,"visibility":9.9,"solarradiation":63.2,"solarenergy":5.4,"uvindex":3.0,"sunrise":"07:03:28","sunriseEpoch":1733141008,"sunset":"16:28:42","sunsetEpoch":1733174922,"moonphase":0.05,"conditions":"Clear","description":"Clear
        conditions throughout the day.","icon":"clear-day","stations":["72502594741","D6004","KTEB","72505394728","KCDW","72409454743","KNYC"],"source":"obs","hours":[{"datetime":"00:00:00","datetimeEpoch":1733115600,"temp":28.6,"feelslike":28.6,"humidity":51.41,"dew":13.0,"precip":0.0,"precipprob":0.0,"snow":0.0,"snowdepth":0.0,"preciptype":null,"windgust":11.0,"windspeed":2.8,"winddir":307.0,"pressure":1019.6,"visibility":9.9,"cloudcover":0.0,"solarradiation":0.0,"solarenergy":0.0,"uvindex":0.0,"conditions":"Clear","icon":"clear-night","stations":["72502594741","D6004","KTEB","72505394728","KCDW","72409454743","KNYC"],"source":"obs"},{"datetime":"01:00:00"[...]
