---
http_interactions:
- request:
    method: get
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline//98109/2024-12-02/2024-12-03?key=VMVGJSENXDBK8VPNBERCDX3XQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"queryCost":48,"latitude":47.630648,"longitude":-122.34675,"resolvedAddress":"98109,
        USA","address":"98109","timezone":"America/Los_Angeles","tzoffset":-8.0,"days":[{"datetime":"2024-12-02","datetimeEpoch":1733126400,"tempmax":41.2,"tempmin":33.2,"temp":36.5,"feelslikemax":40.4,"feelslikemin":28.4,"feelslike":34.7,"dew":34.1,"humidity":91.3,"precip":0.0,"precipprob":0.0,"precipcover":0.0,"preciptype":null,"snow":0.0,"snowdepth":0.0,"windgust":9.2,"windspeed":5.2,"winddir":112.5,"pressure":1027.2,"cloudcover":84.8,"visibility":3.6,"solarradiation":30.2,"solarenergy":2.6,"uvindex":3.0,"sunrise":"07:38:55","sunriseEpoch":1733153935,"sunset":"16:19:09","sunsetEpoch":1733185149,"moonphase":0.06,"conditions":"Partially
        cloudy","description":"Partly cloudy throughout the day.","icon":"partly-cloudy-day","stations":["72793024233","KSEA","KBFI","72793524234","72793494248","F0821","KRNT"],"source":"obs","hours":[{"datetime":"00:00:00","datetimeEpoch":1733126400,"temp":33.2,"feelslike":28.4,"humidity":94.74,"dew":31.9,"precip":0.0,"precipprob":0.0,"snow":0.0,"snowdepth":0.0,"preciptype":null,"windgust":8.9,"windspeed":5.2,"winddir":143.0,"pressure":1025.7,"visibility":5.3,"cloudcover":12.9,"solarradiation":0.0,"solarenergy":0.0,"uvindex":0.0,"conditions":"Clear","icon":"clear-night","stations":["72793024233","KSEA","KBFI","72793524234","72793494248","F0821","KRNT"],"source":"obs"},{"datetime":"01:00:00"[...]
