---
http_interactions:
- request:
    method: get
    uri: https://weather.visualcrossing.com/VisualCrossingWebServices/rest/services/timeline//98109/2025-01-07/2025-01-13?key=VMVGJSENXDBK8VPNBERCDX3XQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"queryCost":25,"latitude":47.630648,"longitude":-122.34675,"resolvedAddress":"98109,
        USA","address":"98109","timezone":"America/Los_Angeles","tzoffset":-8.0,"description":"Similar
        temperatures continuing with a chance of rain Friday.","days":[{"datetime":"2025-01-07","datetimeEpoch":1736236800,"tempmax":45.1,"tempmin":38.9,"temp":42.0,"feelslikemax":44.0,"feelslikemin":36.9,"feelslike":40.3,"dew":37.7,"humidity":84.8,"precip":0.0,"precipprob":0.0,"precipcover":0.0,"preciptype":["rain"],"snow":0.0,"snowdepth":0.0,"windgust":6.9,"windspeed":8.4,"winddir":128.7,"pressure":1032.0,"cloudcover":87.5,"visibility":8.3,"solarradiation":34.1,"solarenergy":2.9,"uvindex":3.0,"severerisk":10.0,"sunrise":"07:56:47","sunriseEpoch":1736265407,"sunset":"16:35:25","sunsetEpoch":1736296525,"moonphase":0.28,"conditions":"Partially
        cloudy","description":"Partly cloudy throughout the day.","icon":"partly-cloudy-day","stations":["KSEA","KBFI","F0821","C1943","KRNT"],"source":"obs","hours":[{"datetime":"00:00:00","datetimeEpoch":1736236800,"temp":42.2,"feelslike":42.2,"humidity":85.93,"dew":38.3,"precip":0.0,"precipprob":0.0,"snow":0.0,"snowdepth":0.0,"preciptype":null,"windgust":3.4,"windspeed":3.0,"winddir":50.0,"pressure":1034.1,"visibility":7.9,"cloudcover":100.0,"solarradiation":0.0,"solarenergy":0.0,"uvindex":0.0,"severerisk":10.0,"conditions":"Overcast","icon":"cloudy","stations":["KSEA","KBFI","C1943","KRNT"],"source":"obs"},{"datetime":"01:00:00","datetimeEpoch":173624040[...]
