<div id='results'>
  <h4><%= @zip_code.with_state_string %></h4>
  <p>Data extracted from Rails cache: <b><%= @data[:from_cache] %></b></p>


  <% @data[:data]['days'].each do |day_data| %>
    <div class="day">
      <div><%= day_label(day_data) %></div>
      <div><%= day_description(day_data) %></div>
    </div>
  <% end %>
</div>


